body,
p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: auto;
  padding: 2em;
}
a {
  color: black;
  text-decoration: none;
}
nav img {
  height: 20px;
}
main {
  width: 50%;
  margin: 1em auto 11.8em auto;
  text-align: center;
}
input {
  width: 500px;
  padding: 1em;
  border-radius: 30px;
  border: 1px solid rgb(0, 0, 10);
}
.button_container {
  margin-top: 1em;
}
.button_container button {
  padding: 1em;
  border: none;
}
button:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0.1, 0.1);
  transition: box-shadow 0.1s ease-in-out;
}
.text {
    margin-top: 2em;
}
.leaf_footer {
  display: inline;
  opacity: none;
}
footer {
  background-color: rgb(239, 236, 243);
  opacity: 0.6;
}
.footer_top {
  padding: 1em;
}
.footer_bottom {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
}
.left a {
  margin-right: 1em;
}
.right a {
  margin-right: 1em;
}
a:hover {
  text-decoration: underline;
}
span {
    color: blue;
}
span:hover {
    text-decoration: underline;
}